@font-face {
  font-family: "Calibri";
  src: url("../../../../assets/calibre/CalibreRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.subscription-plans-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-heading {
  display: flex;
}

.text-heading {
  padding-left: 20px;
}

.plan-label {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: Calibri;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.subscription-card {
  width: 32%;
  background: #1b1b1b !important;
  border-radius: 25px !important;
  color: #efeff2 !important;
  margin-top: 0.5rem;
  border: 1px solid #eff0f6;
}

.subscription-card-audiance {
  width: 32%;
  margin: 10px;
  background: linear-gradient(180deg, #01e5d4 0%, #137aea 83%) !important;
  border-radius: 16px !important;
  color: #efeff2 !important;
  padding: 16px;
  border: 1px solid #eff0f6;
  font-family: Calibri;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
}

.subtitle {
  color: #efeff2 !important;
}

.title {
  color: #137aea;
  font-family: Calibri;
  font-size: 28px;
  font-weight: 700 !important;
  line-height: 35px;
  text-align: left;
}

.description {
  margin-top: 16px;
}

.feature-heading {
  span {
    font-family: Calibri;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
  }
}
.feature-text {
  span {
    width: 250px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
}

.feature-item {
  color: #eff0f6 !important;
}

.css-cveggr-MuiListItemIcon-root {
  color: #eff0f6 !important;
}

.icon {
  color: #00bfff;
}

.action-button {
  height: 70px;
  border-radius: 96px !important;
  text-transform: none;
  width: 100%;
  background: linear-gradient(180deg, #01e5d4 0%, #137aea 83%);
  font-family: Calibri !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  text-align: center;
}

.action-button-audiance {
  height: 70px;
  border-radius: 96px !important;
  text-transform: none;
  width: 100%;
  color: #137aea !important;
  background: #ffffff !important;
  font-family: Calibri !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  text-align: center !important;
}
