.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #111111;
}

.sidebar .MuiListItemIcon-root {
  display: flex;
  justify-content: center;
}
